@media screen and (max-width: 400px) {
  #features {
    padding: 20px;
    width: 111%;
  }
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #header,
  #footer {
    width: 111%;
  }

  #portfolio {
    width: 110%;
  }
}


.wsp{
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: rgb(34, 189, 59);
  bottom: 40px;
  right: 40px;
  color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  box-shadow: 2px 2px 2px 1px rgba(206, 206, 206, 0.2);
  z-index: 999;
}

.float{
  font-size: 50px;
  padding-top: 3px;
}

.float:hover{
  background-color: #1ed336;
  cursor: pointer;
}